<div class="main-wrapper">

  <%= render "shared/side"%>
  
  <div class="post-show">
    <div class="post-show-container">
      <div class="post-box">
        <h2 class="post-show-name">
          <%= "#{@post.title}" %>
        </h2>
        <div class="post-img-content">
          <%# <%= image_tag @post.image, class:"post-box-img" %> %>
        </div>

        <%# <%= render('likes/like',post: @post) %> %>

        <div class="post-command">
            <% if current_user.id == @post.user_id %>
              <%= link_to "編集", edit_post_path(@post.id), method: :get, class: "post-edit-btn" %>
              <p class="or-text">or</p>
              <%= link_to "削除", post_path(@post.id), method: :delete, class: "post-destroy-btn" %>
            <% end %>
        </div>
        <div class="post-description-box">
          <span><%= "#{@post.detail}" %></span>
        </div>
        <div class="post-description-box">
          <span><%= "#{@post.genre.name}" %></span>
        </div>
        <div class="post-description-box">
          <span><%= "#{@post.date}" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
    