<!DOCTYPE html>
<html>
  <head>
    <title>MemoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header-bar">
        <div class="header-left">
          <%= link_to root_path ,id: "logo" do %>
          MemoApp
          <% end %>
        </div>
        <div class="header-right">
          <div class="header-upper">
            <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
              <%= f.text_field :keyword, placeholder: "商品を検索する", class: "search-text-form" %>
              <%= f.submit "検索", class: "search-btn" %>
            <% end %>
          </div>
          <div class="header-down">
            <% if user_signed_in? %>
              <%= link_to "#{current_user.nickname}さん", "/users/#{current_user.id}", class: "user-name", id: "name-btn" %>
              <%= link_to "ログアウト", destroy_user_session_path, class: "logout", id: "logout-btn", method: :delete %>
              <%= link_to "メモ一覧", posts_path, class: "post-container" %> 
              <%= link_to "投稿", "/posts/new/", class: "new-post" %> 
            <% else %>
            <div class="user-select" >
              <%= link_to "ログイン", new_user_session_path, class: "login", id: "user-login-btn" %>
            </div>
            <div class="user-select" >
              <%= link_to "新規登録", new_user_registration_path, class: "sign-up", id: "user-signup-btn" %>
            </div>
            <div class="post-container-box">
              <%= link_to "商品一覧", posts_path, class: "post-container", id: "post-box" %>
            <div>
            <% end %> 
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-bar">
        <div class="footer-word"> ~ワケアリ~ </div>
      </div>
    </footer>
  </body>

</html>
